<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BMS Optica</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Pedido">Pedido Optica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nota</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Cliente">Cliente</a>
          <a class="dropdown-item" href="/Produto">Produto</a>
          <a class="dropdown-item" href="/Fornecedor">Fornecedor</a>
          <a class="dropdown-item" href="/Funcionario">Funcionario</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/Estoque">Estoque</a>
        </div>
      </li>
    </ul>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Sair</button>
  </div>
</nav>

